/* 공통 컨테이너 스타일 */
.list-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* 제목 스타일 */
.list-title {
  text-align: left;
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* 전체 리스트 개수 */
.list-count {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* 제목 스타일 */
.list-title {
  text-align: left;
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* 전체 리스트 개수 */
.list-count {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.sort-buttons .active {
  background-color: #0045b0;
  color: #ffffff;
  border-radius: 5px;
}

/* 페이지네이션 컨테이너 */
.pagination-container {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.heart-number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.heart {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.heart:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.number {
  width: 20px;
  text-align: center;
  color: #0045b0;
}
.list-table th,
.list-table td {
  border: none;
}

/* 버튼 컨테이너 */
.sort-buttons {
  margin-bottom: 20px;
  text-align: right;
}

.sort-buttons button {
  margin: 0 5px;
  border: none;
  background: none;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.sort-buttons .active {
  background-color: #0045b0;
  color: #ffffff;
  border-radius: 5px;
}

/* 페이지네이션 컨테이너 */
.pagination-container {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.pagination-container a,
.pagination-container button {
  cursor: pointer;
}

.heart-number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.heart {
  cursor: pointer;
  font-size: 18px;
}

.heart:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.number {
  color: #0045b0;
}

.votes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.votes-good {
  color: #f04452;
}

.votes-bad {
  color: #3182f6;
}

.no-results-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-top: 20px;
}

.no-results-text {
  font-size: 24px;
  font-weight: 500;
  color: #0045b0;
  text-align: center;
}

.change-rate-positive {
  color: #f04452;
}

.change-rate-neutral {
  color: black;
}

.change-rate-negative {
  color: #3182f6;
}
